body{
    height: 50%;
    border: 1px solid;
    max-width: 400px;
    min-width: 375px;
    font-family:sans-serif;
}
.row1{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    padding-right: 10%;
    padding-bottom: 0;
}
.row2{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.row3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thumbnail{
    display: flex;
    justify-content: center;
}

#I1{
    min-width: 255px;
    max-width: 350px;
    align-self: center;
}
.player{

}
.time-bar{
    display: flex;
    justify-content: space-between;
    padding-left:12%;
    padding-right:12%;
}
.nav-buttons{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    padding: 5%;
}
#sliderContainer {
    display: flex;
    justify-content: center;
    width: 87%;
    margin:5%;
}

#slider {
    width: 100%;
}
#repeat{
    scale:1.6;
}
#previous{
    scale:1.6;
}
#play-pause{
    scale:3;
}
#next{
    scale:1.6;
}
#shuffle{
    scale:1.6;
}
.songs{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
#hamburger{
    border: 0;
    background: none;
    scale: 1.5;
}
#heading{
    color: gray;
    scale: 0.8;
}